/* imports das fontes */

/* TITILLIUM WEB */
@font-face {
    font-family: Paulo-black;
    src: url(../assets/fonts/titillium_web/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Paulo-semibold;
    src: url(../assets/fonts/titillium_web/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: Paulo-bold;
    src: url(../assets/fonts/titillium_web/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* INTER */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

/* QUICKSAND */
@font-face {
    font-family: Lucas-semiBold;
    src: url(../assets/fonts/quicksand/Quicksand/static/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: Lucas-regular;
    src: url(../assets/fonts/quicksand/Quicksand/static/Quicksand-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}

/* Classes genéricas */
.mostrar-menu-um {
    left: 0 !important;
}

.mostrar-menu-dois {
    right: 0 !important;
}

.layout-grid {
    /* border: 1px solid salmon; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******************Mobile First******************/
@media screen and (max-width: 675px) {

    /***************HEADER**************/
    header {
        position: sticky;
        z-index: 1000;
        width: 100vw;
        height: 60px;
        background-color: #1B1426;
    }


    /* Header Top */
    header .header-top {
        display: none;
    }

    /* Header Bottom */


    header .header-bottom {
        height: 100%;
    }

    header .header-bottom img.logo {
        width: 86px;
    }




    header .header-bottom nav {
        position: fixed;
        top: 60px;
        left: -80vw;
        width: 80vw;
        height: calc(100vh - 60px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
        backdrop-filter: blur(45px);

        transition: left 0.4s;
    }

    /* somente links "filhos diretos" */
    header .header-bottom nav>a {
        padding: 30px 0;
        color: white;
        font-family: Inter;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-bottom nav>a:hover{
        color: white;
        background-color: #F9AA01;
    }

    header .header-bottom nav>a:last-of-type {
        border-bottom: none;
    }

    /* ícone de mídias sociais possibilidade position 
    header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 100px);
    border: 1px solid red;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    */

    header .header-bottom nav .midias-sociais {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        /* gap é o espaçamento entre os elementos, funciona em linha e também em coluna. */
        gap: 50px;
    }

    /* menu lateral direito - ícones */
    header .header-bottom .menu-usuarios {
        position: fixed;
        top: 60px;
        right: -75px;
        width: 75px;
        height: 170px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
        backdrop-filter: blur(45px);

        transition: right 0.4s;
    }

    /*********Main******** */

    .banner {
        width: 100%;
        height: 606px;
        background-color: rebeccapurple;
        background-image: url(../assets/images/Banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
   }
   .banner .mediador{
    /* border: #6200ff 2px solid; */

    padding-top:40px ;
    padding-bottom: 90px;

    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    
   }

   main .banner .mediador h1{
    color: #ffffff;
    /* font-weight: black; */
    font-size: 40px;
    font-family: "Paulo-black";
    text-shadow: 0px 0px 7px #FD4255;
    text-decoration:dashed;

   }

   main .banner .botao-sobre{
    width: 171px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #1B1426;
    font-size: 24px;
    font-family: "Paulo-semibold";
    text-decoration: none;

    background-color: #F9AA01;
    border-radius: 8px;
   }

   /* **Aba jogos** */

   main .jogos{
    background-color: #1B1426;

    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 44px; */

    /* padding-top: 44px;
    padding-bottom: 125px; */
   }

   main .jogos .jogos-flex{
    
    padding-top: 44px;
    padding-bottom: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 44px;
   }

   /* **Aba Mais sobre** */

   main .time{
    background-color: #F9AA01;

   }

   main .time .time-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
   }

   main .time .time-flex h1{
    color: #1B1426;
    font-family: Paulo-black;
    font-size: 18px;
    text-transform: uppercase;
    

    border-bottom: #1B1426 solid 1px;
    padding-bottom: 40px;
    padding-top: 82px;
   }

   main .time-flex .jogos-killjoy{
    /* border: #FD4255 solid 2px; */
    margin-top: 127px;
   }

   /* Acrescentando um Linder-grid dos tanto tanto  */
   main .time-flex .jogos-killjoy .border-grid{
    background:linear-gradient(to right bottom, rgba(255,255,255,50%), rgba(27,20,28,0%)) ;
    backdrop-filter: blur(4px);
    padding: 1px;
    border-radius: 8px;
    height: 300px;
    width: 231px;

    position: relative;
    right: -80px;
    top: -400px;
   }

   main .time-flex .border-grid .background-color{
    background:linear-gradient(to right bottom, rgba(122,49,236, 30%), rgba(47,7,109,83%));
    border-radius: 8px;
    height: 300px;
    width: 231px;
   }

   main .time-flex .jogos-killjoy .border-grid .jogos-diferentes{
    /* backdrop-filter: blur(15px); */
    /* background:linear-gradient(to right bottom, rgba(122,49,236, 20%), rgba(47,7,109,83%));
    border-radius: 8px; */
    /* border: #FD4255 solid 2px; */

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-top: 27px;
    padding-bottom: 50px;

    height: 300px;
   }
   main .time-flex .jogos-killjoy .border-grid .jogos-diferentes .joystick{
    width: 97px;
    height: 97px;

   }

   main .time-flex .jogos-killjoy .border-grid .jogos-diferentes h2{
    color: #ffffff;
    font-family: Paulo-Black;
    text-transform: uppercase;
    font-size: 18px;
    text-shadow: 0px 0px 10px #7A31EC;

    }

    main .time-flex .jogos-killjoy .border-grid .jogos-diferentes p{

    color: #ffffff;
    font-family: Lucas-semiBold;
    font-size: 13px;
    }

    main .time-flex .jinx{
        /* border: 2px solid #FD4255; */

        position: relative;
        top: -140px;
       
    }    

    main .time-flex .jogos-jinx .border-grid{
        background:linear-gradient(to right bottom, rgba(255,255,255,50%), rgba(27,20,28,0%)) ;
        backdrop-filter: blur(4px);
        padding: 1px;
        border-radius: 8px;
        height: 300px;
        width: 231px;

        position: relative;
        top: -445px;
    }

    main .jogos-jinx .professores{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding-top: 27px;
        padding-bottom: 50px;

        height: 300px;
    }

    main .jogos-jinx .professores h2{
        color: #ffffff;
        font-family: Paulo-Black;
        text-transform: uppercase;
        font-size: 18px;
        text-shadow: 0px 0px 10px #7A31EC;
    }

    main .jogos-jinx .professores p{
        color: #ffffff;
        font-family: Lucas-semiBold;
        font-size: 13px;
    }


    /* ***Aba da Noticias***  */

    main .noticias{  /* Adcionando um Wallpaper na aba  */
        background-image: url(../assets/images/Wallpaper-noticias.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        padding-top: 73px;
    }

    .noticias .noticias-flex{
        /* border: #FD4255 2px solid; */

        display: flex;
        flex-direction: column;
        align-items: center;

        
    }

    .noticias h1{
        color: #ffffff;
        font-family: Paulo-black;
        text-transform: uppercase;
        border-bottom: 2px solid #F9AA01;
        padding-bottom: 40px;
        margin-bottom: 71px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .noticias .caixa-noticias{
        /* border: #7A31EC 2px solid; */
        background: linear-gradient(to right bottom, rgba(37, 26, 52, 34%), rgba(5,1 ,12, 79%));
        border-radius: 8px;
        backdrop-filter: blur(5px);

        margin-bottom: 46px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .noticias .caixa-texto{
        padding-bottom: 34px;
        padding-left: 19px;
        padding-right: 33px;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: 10px;
    }
    .noticias .caixa-texto h3{
       padding-left: 14px;  /* O Padding aqui serviu para dar um espaçamento correto no site*/

        font-family:"Paulo-bold";
        font-size: 24px;
    }

    .noticias .caixa-texto p{
        font-family: Lucas-regular;
        font-size: 16px;
    }


    /* *****************Footer*************** */

    footer{
        background-image: url(../assets/images/wallpaper-footer.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 30px 60px rgba(0, 0, 0, 1);
    }
    /* "Matheus" seguinifica "Mediador do logo tipo */
    .matheus{
        display: flex;
        justify-content: center;

        /* border: #FD4255 2px solid; */

        padding-top: 97px;
        padding-bottom: 31px;
    }

    .matheus #logo{  /* Aumentando o tamanho do logo */
        height: 32px;
        width: 110px;
    }

    footer p{
        font-family: Lucas-regular;
        font-size: 13px;
        color:#ffffff;
    }

    footer .redes-sociais{
        /* border: #FD4255 2px solid; */

        display:flex;
        justify-content: space-between ;
        align-content: center;

        padding-top: 42px;
        padding-bottom: 42px;
    }

    /* Configuração de espaço para as bordas quefica em baixo do título */
    .border-space {
        width: 164px;
        height: 46px;
    }

    /* Configuração genericas para todo os títulos do footer */
    .titulo{
        color: white;
        font-size: 30px;
        font-family: Paulo-black;

        border-bottom: #F9AA01 3px solid;
    }

    /* Adcionando a barrinha pra listar os links */
    footer li{
        width: 110px;
    }

    li::before{
        content: url(../assets/icons/linha.svg);
       
    }

    ul{
        list-style-type: none;

        display: flex;
        flex-wrap: wrap;
    }

    .link-uteis #tamanho{
        display: flex;
        flex-wrap: wrap;

        /* border: #FD4255 2px solid; */

        /* height: 61px;
        width: 364px; */

        padding-bottom:138px ;
    }

    .link-uteis a {
        text-decoration: none;
        font-family: Lucas-semibold;
        color: #ffffff;
        font-size: 16px;
    }

    .contatos .Contatos-a1{
        color: #F9AA01;
        font-family: Lucas-semibold;
        font-size: 16px;
    }
    .contatos .Contatos-b2{
        color: white;
        font-size: 16px;
        font-family: Paulo-bold;
    }
    .contatos{
        padding-bottom: 138px;
    }

    /* Parte dos newsletter */
    .newsletter{
        /* border: #F9AA01 2px solid; */
    }
    .newsletter .border-space{
        padding-bottom: 66px;
    }

    .newsletter .input{
        /* border: 2px red solid; */

        height: 40px;
        width: 100%;

        
        background: linear-gradient( to right, rgba(255,255,255,0.8), rgba(255,255,255,0.3));
        border-radius: 8px;
        color: white;
        border: none;
    }

    .newsletter .input::placeholder{
        color: white;
    }

    .newsletter .border-grid-2{
        background:linear-gradient(to right bottom, rgba(239,239,239,30%), rgba(239,239,239,10%)) ;
        backdrop-filter: blur(4px);
        padding-left: 1px;
        border-radius: 8px;
    }

    .newsletter button{
        background-color: #F9AA01;
        height: 40px;
        width: 100%;

        border-radius: 8px;

        font-family: Paulo-bold;
        font-size: 24px;
    }

    footer .back-top{
        /* border: #7A31EC 2px solid; */

        padding-bottom: 40px;

        display: flex;
        justify-content: flex-end;
    }

    footer .copyright{
        display: flex;
        justify-content: center;

        padding-bottom: 10px;
    }

    
}



/********************Computador*****************/
@media screen and (min-width:675px) {

    /* Header */
    header {
        /* position: fixed;
        top: 0;
        left: 0; */
        position: initial;
        width: 100vw;
        height: 140px;
        background-color: #1B1426;
    }

    /* Header-top */

    header .header-top {
        height: 55px;
        border-bottom: #F9AA01 solid 2px;
    }

    header .header-top .topo {
        /* border: 2px solid green; */

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .header-top .contatos {
        /* border: 2px solid red; */

        width: 50%;

        display: flex;
        justify-content: flex start;
        align-items: center;

        gap: 36px;
    }


    header .header-top .midias-sociais {
        /* border: 2px solid blue; */

        display: flex;
        /* justify-content: flex-end;
        align-items: center; */
        gap: 25px;
    }

    /* Header Bottom */


    /* Tirando items que nao estao no computador */
    header .header-bottom .menu-hamburger {
        display: none;
    }


    header .header-bottom #Telefone,
    #email,
    .midias-sociais,
    .menu-pontinhos {
        display: none;
    }

    /* Voltando para o Header */

    header .header-bottom {
        /* border: green 2px solid; */
        height: 86px;

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    /* Aumentando a largura do Logo */
    header .header-bottom .logo {
        height: 56px;
    }

    .header-bottom .menu {
        /* border: burlywood 2px solid; */
        display: flex;
        gap: 61px;

    }

    .header-bottom .menu a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 14px;
        font-family: Inter;

    }

    .header-bottom .menu a:hover {
        color: #F9AA01;
    }

    .header-bottom .menu-usuarios {
        display: flex;
        gap: 25px;
    }

    /* Main */

    /* Banner */
    

    main .banner {
        width: 100%;
        height: 606px;
        background-color: rebeccapurple;
        background-image: url(../assets/images/Banner\ -\ Imagem.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
   }

   .banner .mediador{
    /* border: #6200ff 2px solid; */

    padding-top:40px ;
    padding-bottom: 90px;

    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    
   }

   main .banner .mediador h1{
    color: #ffffff;
    /* font-weight: black; */
    font-size: 80px;
    font-family: "Paulo-black";
    text-shadow: 0px 0px 7px #FD4255;
    text-decoration:dashed;

   }

   main .banner .botao-sobre{
    width: 203px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #1B1426;
    font-size: 24px;
    font-family: "Paulo-semibold";
    text-decoration: none;

    background-color: #F9AA01;
    border-radius: 8px;
   }

   /* **Jogos----Main----Mais-sobre** */

   main .jogos{
    background-color: #1B1426;
   }

   main .jogos .jogos-flex{

    /* border:#7A31EC 2px solid; */
    
    padding-top: 44px;
    padding-bottom: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
   }

   #size{
    width: 556px;
    height: 313px;
   }


   /* ****time--main--jink e kiljoy**** */
     /* Configuração para diminuir a borda do titulo*/ 

    main #border-space {
    width: 100%;
    
    /* border: #FD4255 2px solid; */
    display: flex;
    justify-content: center;
    }
   
   main .time{
    background-color: #F9AA01;

   }

   main .time .time-flex{
    /* border:#FD4255 2px solid; */

    /* display: flex;
    justify-content: center;
    align-items: center; */
    
   }

   main .time .time-flex h1{
    color: #1B1426;
    font-family: Paulo-black;
    font-size: 40px;
    text-transform: uppercase;
    

    border-bottom: #1B1426 solid 1px;
    padding-bottom: 40px;
    padding-top: 82px;
   }

   main .time-flex .jogos-killjoy{
    /* border: #FD4255 solid 2px; */
    margin-top: 127px;
   }

   /* Acrescentando um Linder-grid dos tanto tanto  */
   main .time-flex .jogos-killjoy .border-grid{
    background:linear-gradient(to right bottom, rgba(255,255,255,50%), rgba(27,20,28,0%)) ;
    backdrop-filter: blur(4px);
    padding: 1px;
    border-radius: 8px;
    height: 300px;
    width: 231px;

    position: relative;
    right: -80px;
    top: -400px;
   }

   main .time-flex .border-grid .background-color{
    background:linear-gradient(to right bottom, rgba(122,49,236, 30%), rgba(47,7,109,83%));
    border-radius: 8px;
    height: 300px;
    width: 231px;
   }

   main .time-flex .jogos-killjoy .border-grid .jogos-diferentes{
    /* backdrop-filter: blur(15px); */
    /* background:linear-gradient(to right bottom, rgba(122,49,236, 20%), rgba(47,7,109,83%));
    border-radius: 8px; */
    /* border: #FD4255 solid 2px; */

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-top: 27px;
    padding-bottom: 50px;

    height: 300px;
   }
   main .time-flex .jogos-killjoy .border-grid .jogos-diferentes .joystick{
    width: 97px;
    height: 97px;

   }

   main .time-flex .jogos-killjoy .border-grid .jogos-diferentes h2{
    color: #ffffff;
    font-family: Paulo-Black;
    text-transform: uppercase;
    font-size: 18px;
    text-shadow: 0px 0px 10px #7A31EC;

    }

    main .time-flex .jogos-killjoy .border-grid .jogos-diferentes p{

    color: #ffffff;
    font-family: Lucas-semiBold;
    font-size: 13px;
    }

    main .time-flex .jinx{
        /* border: 2px solid #FD4255; */

        position: relative;
        top: -140px;
       
    }    

    main .time-flex .jogos-jinx .border-grid{
        background:linear-gradient(to right bottom, rgba(255,255,255,50%), rgba(27,20,28,0%)) ;
        backdrop-filter: blur(4px);
        padding: 1px;
        border-radius: 8px;
        height: 300px;
        width: 231px;

        position: relative;
        top: -445px;
    }

    main .jogos-jinx .professores{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding-top: 27px;
        padding-bottom: 50px;

        height: 300px;
    }

    main .jogos-jinx .professores h2{
        color: #ffffff;
        font-family: Paulo-Black;
        text-transform: uppercase;
        font-size: 18px;
        text-shadow: 0px 0px 10px #7A31EC;
    }

    main .jogos-jinx .professores p{
        color: #ffffff;
        font-family: Lucas-semiBold;
        font-size: 13px;
    }

}