/* imports das fontes */

/* TITILLIUM WEB */
@font-face {
    font-family: Paulo-black;
    src: url(../assets/fonts/titillium_web/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Paulo-semibold;
    src: url(../assets/fonts/titillium_web/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}

@font-face {
    font-family: Paulo-bold;
    src: url(../assets/fonts/titillium_web/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* INTER */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

/* QUICKSAND */
@font-face {
    font-family: Lucas-semiBold;
    src: url(../assets/fonts/quicksand/Quicksand/static/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: Lucas-regular;
    src: url(../assets/fonts/quicksand/Quicksand/static/Quicksand-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}

/* Classes genéricas */
.mostrar-menu-um {
    left: 0 !important;
}

.mostrar-menu-dois {
    right: 0 !important;
}

.layout-grid {
    /* border: 1px solid salmon; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* justify content + align items */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* main .box-login {
    border: #F9AA01 2px solid;

    width: 335px;
    height: 459px;

} */

/*********************** Mobile First***********************/
@media screen and (max-width: 675px) {

    /***************HEADER**************/
    header {
        position: sticky;
        z-index: 1000;
        width: 100vw;
        height: 60px;
        background-color: #1B1426;
    }


    /* Header Top */
    header .header-top {
        display: none;
    }

    /* Header Bottom */


    header .header-bottom {
        height: 100%;
    }

    header .header-bottom img.logo {
        width: 86px;
    }


    header .header-bottom nav {
        position: fixed;
        top: 60px;
        left: -80vw;
        width: 80vw;
        height: calc(100vh - 60px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
        backdrop-filter: blur(45px);

        transition: left 0.4s;
    }

    /* somente links "filhos diretos" */
    header .header-bottom nav>a {
        padding: 30px 0;
        color: white;
        font-family: Inter;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        border-bottom: 2px solid #F9AA01;
    }

    header .header-bottom nav>a:hover {
        color: white;
        background-color: #F9AA01;
    }

    header .header-bottom nav>a:last-of-type {
        border-bottom: none;
    }

    /* ícone de mídias sociais possibilidade position 
    header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 100px);
    border: 1px solid red;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    */

    header .header-bottom nav .midias-sociais {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        /* gap é o espaçamento entre os elementos, funciona em linha e também em coluna. */
        gap: 50px;
    }

    /* menu lateral direito - ícones */
    header .header-bottom .menu-usuarios {
        position: fixed;
        top: 60px;
        right: -75px;
        width: 75px;
        height: 170px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
        backdrop-filter: blur(45px);

        transition: right 0.4s;
    }

    /************** Main ************/

    main .wallpeper {
        background-image: url(../assets/images/Wallpaper-login.png);

        /* display: flex;
        justify-content: center;
        align-items: center; */
        padding-top: 102px;
        padding-bottom: 120px;
    }


    .box-login {
        /* border: #F9AA01 2px solid; */

        background: linear-gradient(to right bottom, rgba(27,20,38,100%), rgba(60,3,65,20%));
        /* background-image: url(../assets/images/Wallpaper-login.png);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
     */

        width: 335px;
        height: 459px;
        border-radius: 8px;

    }

    .border-grid-3 {
        background: linear-gradient(to right, rgba(255, 255, 255, 70%), rgba(255, 255, 255, 0%));
        backdrop-filter: blur(4px);
        padding-left: 1px;
        padding-top: 2px;

        width: 335px;
        height: 459px;
        border-radius: 8px;
    }
    
    main .login-flex{
        display: flex;
        justify-content: space-evenly;
        /* align-items:center; */
        flex-direction: column;

    }

    main .login {
        /* border: #F9AA01 2px solid; */

        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    main .login h1 {
        text-transform: uppercase;
    }

    main .arrumando {
        padding-right: 10px;
        /* padding-bottom: 5px; */
        padding-left: 10px;
        position: relative;
        bottom: -5px;

        height: 37px;
        width: 26px;
        /* border: green 3px solid; */
    }

    main .out {
        border: none;

        background: linear-gradient(to right, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.0));
        /* backdrop-filter: blur(4px); */
        
        height: 100%;
        width: 250px;
        
    }

    main .out::placeholder{
        color: white;
    }

    main .login-flex button {
        background-color: #F9AA01;
        height: 40px;
        width: 100%;

        border-radius: 8px;
        border: none;

        font-family: Paulo-bold;
        font-size: 24px;
    }














































    /* *****************Footer*************** */

    footer {
        background-image: url(../assets/images/wallpaper-footer.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0 30px 60px rgba(0, 0, 0, 1);
    }

    /* "Matheus" seguinifica "Mediador do logo tipo */
    .matheus {
        display: flex;
        justify-content: center;

        /* border: #FD4255 2px solid; */

        padding-top: 97px;
        padding-bottom: 31px;
    }

    .matheus #logo {
        /* Aumentando o tamanho do logo */
        height: 32px;
        width: 110px;
    }

    footer p {
        font-family: Lucas-regular;
        font-size: 13px;
        color: #ffffff;
    }

    footer .redes-sociais {
        /* border: #FD4255 2px solid; */

        display: flex;
        justify-content: space-between;
        align-content: center;

        padding-top: 42px;
        padding-bottom: 42px;
    }

    /* Configuração de espaço para as bordas quefica em baixo do título */
    .border-space {
        width: 164px;
        height: 46px;
    }

    /* Configuração genericas para todo os títulos do footer */
    .titulo {
        color: white;
        font-size: 30px;
        font-family: Paulo-black;

        border-bottom: #F9AA01 3px solid;
    }

    /* Adcionando a barrinha pra listar os links */
    footer li {
        width: 110px;
    }

    li::before {
        content: url(../assets/icons/linha.svg);

    }

    ul {
        list-style-type: none;

        display: flex;
        flex-wrap: wrap;
    }

    .link-uteis #tamanho {
        display: flex;
        flex-wrap: wrap;

        /* border: #FD4255 2px solid; */

        /* height: 61px;
    width: 364px; */

        padding-bottom: 138px;
    }

    .link-uteis a {
        text-decoration: none;
        font-family: Lucas-semibold;
        color: #ffffff;
        font-size: 16px;
    }

    .contatos .Contatos-a1 {
        color: #F9AA01;
        font-family: Lucas-semibold;
        font-size: 16px;
    }

    .contatos .Contatos-b2 {
        color: white;
        font-size: 16px;
        font-family: Paulo-bold;
    }

    .contatos {
        padding-bottom: 138px;
    }

    /* Parte dos newsletter */
    .newsletter {
        /* border: #F9AA01 2px solid; */
    }

    .newsletter .border-space {
        padding-bottom: 66px;
    }

    .input {
        /* border: 2px red solid; */

        height: 40px;
        width: 100%;


        background: linear-gradient(to right, rgba(239, 239, 239, 0.4), rgba(239, 239, 239, 0.0));
        border-radius: 8px;
        backdrop-filter: blur(10px);
        color: white;
        border: none;

    }

    .input::placeholder {
        color: white;
    }

    .border-grid-2 {
        background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
        backdrop-filter: blur(4px);
        padding-left: 1px;
        border-radius: 8px;
    }

    .newsletter button {
        background-color: #F9AA01;
        height: 40px;
        width: 100%;

        border-radius: 8px;
        border: none;

        font-family: Paulo-bold;
        font-size: 24px;
    }

    footer .back-top {
        /* border: #7A31EC 2px solid; */

        /* padding-bottom: 40px; */

        display: flex;
        justify-content: flex-end;
    }

    footer #copyright {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

}